<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Simplebar -->
    <link type="text/css" th:href="@{'http://localhost:8080/assets/vendor/simplebar.min.css'}" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" th:href="@{'http://localhost:8080/assets/css/app.css'}"  rel="stylesheet">
    <link type="text/css" th:href="@{'http://localhost:8080/assets/css/app.rtl.css'}"  rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" th:href="@{'http://localhost:8080/assets/css/vendor-material-icons.css'}"  rel="stylesheet">
    <link type="text/css" th:href="@{'http://localhost:8080/assets/css/vendor-material-icons.rtl.css'}"  rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" th:href="@{'http://localhost:8080/assets/css/vendor-fontawesome-free.css'}"  rel="stylesheet">
    <link type="text/css" th:href="@{'http://localhost:8080/assets/css/vendor-fontawesome-free.rtl.css'}" rel="stylesheet">

    <!-- ion Range Slider -->
    <link type="text/css" th:href="@{'http://localhost:8080/assets/css/vendor-ion-rangeslider.css'}"  rel="stylesheet">
    <link type="text/css" th:href="@{'http://localhost:8080/assets/css/vendor-ion-rangeslider.rtl.css'}"  rel="stylesheet">


    <!-- Flatpickr -->
    <link rel="stylesheet" th:href="@{'http://localhost:8080/assets/css/vendor-flatpickr.css'}" >
    <link rel="stylesheet" th:href="@{'http://localhost:8080/assets/css/vendor-flatpickr.rtl.css'} " >
    <link rel="stylesheet" th:href="@{'http://localhost:8080/assets/css/vendor-flatpickr-airbnb.css'} " >
    <link rel="stylesheet" th:href="@{'http://localhost:8080/assets/css/vendor-flatpickr-airbnb.rtl.css'}"  >

    <!-- Vector Maps -->
    <link type="text/css" href="../assets/vendor/jqvmap/jqvmap.min.css" rel="stylesheet">

    <script th:src="@{'http://localhost:8080/assets/vendor/datatables/media/js/dataTables.bootstrap4.js'}" ></script>

</head>

<body class="layout-default">











<div class="preloader"></div>

<div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px" data-fullbleed>
    <div class="mdk-drawer-layout__content">

        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout" data-has-scrolling-region>

            <!-- Header -->

            <div id="header" class="mdk-header js-mdk-header m-0" data-fixed data-effects="waterfall" data-retarget-mouse-scroll="false">
                <div class="mdk-header__content">

                    <div class="navbar navbar-expand-sm navbar-main navbar-light bg-white  pr-0" id="navbar" data-primary>
                        <div class="container-fluid p-0">

                            <!-- Navbar toggler -->
                            <button class="navbar-toggler navbar-toggler-custom d-lg-none d-flex mr-navbar" type="button" data-toggle="sidebar">
                                <span class="material-icons">short_text</span>
                            </button>

                            <!-- Navbar Brand -->
                            <a href="merk/index.html" class="navbar-brand flex ">
                                <span>Dashboard</span>
                            </a>

                            <div class="dropdown">
                                <a href="#" data-toggle="dropdown" data-caret="false" class="dropdown-toggle navbar-toggler navbar-toggler-company border-left d-flex align-items-center ml-navbar">
                                        <span class="rounded-circle">
                                            <span class="material-icons">business</span>
                                        </span>
                                </a>
                                <div id="company_menu" class="dropdown-menu dropdown-menu-right navbar-company-menu">
                                    <div class="dropdown-item d-flex align-items-center py-2 navbar-company-info py-3">

                                            <span class="mr-3">
                                                <img src="assets/images/frontted-logo-blue.svg" width="43" height="43" alt="avatar">
                                            </span>
                                        <span class="flex d-flex flex-column">
                                                <strong style="font-size: 1.125rem;">Frontted</strong>
                                                <small class="text-muted text-uppercase">8 Users</small>
                                            </span>

                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-flex align-items-center py-2" href="#">
                                        <span class="material-icons mr-2">settings</span> Settings
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center py-2" href="#">
                                        <span class="material-icons mr-2">exit_to_app</span> Switch Company
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-flex align-items-center py-2" href="#">
                                        <span class="material-icons mr-2">add</span> New Company
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- // END Header -->

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page">




                <div class="container-fluid page__container" >
                    <!--######### INSERT SECTION HEREEE ################ -->
                    <div layout:fragment="content">

                    </div>
                    <!--######### END OF SECTION HEREEE ################ -->
                </div>



            </div>
            <!-- // END header-layout__content -->

        </div>
        <!-- // END header-layout -->

    </div>
    <!-- // END drawer-layout__content -->

    <div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
        <div class="mdk-drawer__content">
            <div class="sidebar sidebar-dark sidebar-left simplebar" data-simplebar>
                <div class="d-flex align-items-center sidebar-p-a border-bottom sidebar-account flex-shrink-0">
                    <a href="merk/index.html" class="flex d-flex align-items-center text-underline-0 text-body">
                            <span class="mr-3">
                                <img src="assets/images/logo2.png" width="43" height="43" alt="avatar">
                            </span>
                        <span class="flex d-flex flex-column">
                                <strong style="font-size: 1.125rem;">Wagen Auto</strong>
                                <small class="text-muted text-uppercase" style="color: rgba(255,255,255,.54)">Admin</small>
                            </span>
                    </a>
                    <div class="dropdown ml-auto">
                        <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">keyboard_arrow_down</i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-item-text dropdown-item-text--lh">
                                <div><strong>Wagen Auto</strong></div>
                                <div>@admin123</div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item active" href="merk/index.html">Dashboard</a>
                            <a class="dropdown-item" href="profile.html">My profile</a>
                            <a class="dropdown-item" href="edit-account.html">Edit account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login.html">Logout</a>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs sidebar-tabs flex-shrink-0" role="tablist">
                    <li class="nav-item"><a class="nav-link active show" id="sm-menu-tab" href="#sm-menu" data-toggle="tab" role="tab" aria-controls="sm-menu" aria-selected="true">Menu</a></li>
                </ul>
                <div class="tab-content">
                    <div id="sm-menu" class="tab-pane show active" role="tabpanel" aria-labelledby="sm-menu-tab">
                        <ul class="sidebar-menu flex">
                            <li class="sidebar-menu-item active">
                                <a class="sidebar-menu-button" href="/listMerk">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left "></i>
                                    <span class="sidebar-menu-text">Merk</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item active">
                                <a class="sidebar-menu-button" href="/listPaketSalon">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left "></i>
                                    <span class="sidebar-menu-text">Paket Salon</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item active">
                                <a class="sidebar-menu-button" href="/listKaryawan">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left "></i>
                                    <span class="sidebar-menu-text">Karyawan</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item active">
                                <a class="sidebar-menu-button" href="/listMember">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left "></i>
                                    <span class="sidebar-menu-text">Member</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item active">
                                <a class="sidebar-menu-button" href="/listTipe">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left "></i>
                                    <span class="sidebar-menu-text">Tipe</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item active">
                                <a class="sidebar-menu-button" href="/listMontir">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left "></i>
                                    <span class="sidebar-menu-text">Montir</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item active">
                                <a class="sidebar-menu-button" href="/listEstimasiHarga">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left "></i>
                                    <span class="sidebar-menu-text">Estimasi Harga</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item active">
                                <a class="sidebar-menu-button" href="/listKatalogMobil">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left "></i>
                                    <span class="sidebar-menu-text">Katalog Mobil</span>
                                </a>
                            </li>

                        </ul>
                    </div>
<!--                    <div id="sm-account" class="tab-pane">-->
<!--                        <ul class="sidebar-menu">-->
<!--                            <li class="sidebar-menu-item">-->
<!--                                <a class="sidebar-menu-button" href="edit-account.html">-->
<!--                                    <span class="sidebar-menu-text">Edit Information</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="sidebar-menu-item">-->
<!--                                <a class="sidebar-menu-button" href="edit-account.html">-->
<!--                                    <span class="sidebar-menu-text">Payments</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="sidebar-menu-item">-->
<!--                                <a class="sidebar-menu-button" href="edit-account.html">-->
<!--                                    <span class="sidebar-menu-text">Billing</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="sidebar-menu-item">-->
<!--                                <a class="sidebar-menu-button" href="edit-account.html">-->
<!--                                    <span class="sidebar-menu-text">Change Password</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="sidebar-menu-item">-->
<!--                                <a class="sidebar-menu-button" href="login.html">-->
<!--                                    <span class="sidebar-menu-text">Logout</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div id="sm-settings" class="tab-pane sidebar-p-a">-->
<!--                        <div class="form-inline form-group">-->
<!--                            <label for="currency" class="text-label flex justify-content-start">Currency</label>-->
<!--                            <select name="currency" id="currency" class="custom-select">-->
<!--                                <option selected="true" value="usd">USD</option>-->
<!--                                <option value="eur">EUR</option>-->
<!--                                <option value="gbp">GBP</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="form-inline form-group">-->
<!--                            <label for="show_tags" class="text-label flex justify-content-start">Show Tags</label>-->
<!--                            <label for="show_tags">Yes</label>-->
<!--                            <div class="custom-control custom-checkbox-toggle custom-control-inline ml-2 mr-0">-->
<!--                                <input checked="" type="checkbox" id="show_tags" class="custom-control-input">-->
<!--                                <label class="custom-control-label" for="show_tags">Yes</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="api_token" class="text-label flex justify-content-start">API Token</label>-->
<!--                            <div class="input-group input-group-merge">-->
<!--                                <input id="api_token" type="password" required="" class="form-control form-control-appended" placeholder="Enter your token">-->
<!--                                <div class="input-group-append">-->
<!--                                    <div class="input-group-text">-->
<!--                                        <span class="fa fa-eye"></span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="api_secret" class="text-label flex justify-content-start">API Secret</label>-->
<!--                            <div class="input-group input-group-merge">-->
<!--                                <input id="api_secret" type="password" required="" class="form-control form-control-appended" placeholder="Enter your secret">-->
<!--                                <div class="input-group-append">-->
<!--                                    <div class="input-group-text">-->
<!--                                        <span class="fa fa-eye"></span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="price_range" class="text-label flex justify-content-start">Price Range</label>-->
<!--                            <input id="price_range" type="text" data-toggle="ion-rangeslider" data-min="0" data-max="100" data-from="50" data-step="5" data-max-postfix="+" data-prefix="$">-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <label for="category" class="text-label flex justify-content-start">Default Category</label>-->
<!--                            <select name="category" id="category" class="custom-select">-->
<!--                                <option selected="true" value="admin">Admin Dashboard</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

                <div class="mt-auto sidebar-p-a sidebar-b-t d-flex flex-column flex-shrink-0">
                    <a class="sidebar-link mb-2" href="edit-account.html">Change Password</a>
                    <a class="sidebar-link mb-2" href="edit-account.html">Settings</a>
                    <a class="sidebar-link" href="login.html">
                        Logout
                        <i class="sidebar-menu-icon ml-2 material-icons icon-16pt">exit_to_app</i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- // END drawer-layout -->

<div class="mdk-drawer js-mdk-drawer" id="events-drawer" data-align="end">
    <div class="mdk-drawer__content">
        <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>




            <small class="text-dark-gray px-3 py-1">
                <strong>Thursday, 28 Feb</strong>
            </small>

            <div class="list-group list-group-flush">

                <div class="list-group-item bg-light">
                    <div class="row">
                        <div class="col-auto d-flex flex-column">
                            <small>12:30 PM</small>
                            <small class="text-dark-gray">2 hrs</small>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column flex">
                                <a href="#" class="text-body"><strong class="text-15pt">Marketing Team Meeting</strong></a>

                                <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">location_on</i> 16845 Hicks Road</small>


                            </div>
                            <div class="avatar-group mt-2">

                                <div class="avatar avatar-xs">
                                    <img src="assets/images/256_joao-silas-636453-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                </div>

                                <div class="avatar avatar-xs">
                                    <img src="assets/images/256_jeremy-banks-798787-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                </div>

                                <div class="avatar avatar-xs">
                                    <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <small class="text-dark-gray px-3 py-1">
                <strong>Wednesday, 27 Feb</strong>
            </small>

            <div class="list-group list-group-flush">

                <div class="list-group-item bg-light">
                    <div class="row">
                        <div class="col-auto d-flex flex-column">
                            <small>07:48 PM</small>
                            <small class="text-dark-gray">30 min</small>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column flex">
                                <a href="#" class="text-body"><strong class="text-15pt">Call Alex</strong></a>


                                <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">phone</i> 202-555-0131</small>

                            </div>



                        </div>
                    </div>
                </div>

            </div>

            <small class="text-dark-gray px-3 py-1">
                <strong>Tuesday, 26 Feb</strong>
            </small>

            <div class="list-group list-group-flush">

                <div class="list-group-item bg-light">
                    <div class="row">
                        <div class="col-auto d-flex flex-column">
                            <small>03:13 PM</small>
                            <small class="text-dark-gray">2 hrs</small>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column flex">
                                <a href="#" class="text-body"><strong class="text-15pt">Design Team Meeting</strong></a>

                                <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">location_on</i> 16845 Hicks Road</small>


                            </div>
                            <div class="avatar-group mt-2">

                                <div class="avatar avatar-xs">
                                    <img src="assets/images/256_rsz_1andy-lee-642320-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                </div>

                                <div class="avatar avatar-xs">
                                    <img src="assets/images/256_michael-dam-258165-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                </div>

                                <div class="avatar avatar-xs">
                                    <img src="assets/images/256_luke-porter-261779-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                </div>

                                <div class="avatar avatar-xs">
                                    <img src="assets/images/stories/256_rsz_clem-onojeghuo-193397-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <small class="text-dark-gray px-3 py-1">
                <strong>Monday, 25 Feb</strong>
            </small>

            <div class="list-group list-group-flush">

                <div class="list-group-item bg-light">
                    <div class="row">
                        <div class="col-auto d-flex flex-column">
                            <small>12:30 PM</small>
                            <small class="text-dark-gray">2 hrs</small>
                        </div>
                        <div class="col d-flex">
                            <div class="d-flex flex-column flex">
                                <a href="#" class="text-body"><strong class="text-15pt">Call Wendy</strong></a>


                                <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">phone</i> 202-555-0131</small>

                            </div>


                            <div class="avatar avatar-xs">
                                <img src="assets/images/256_michael-dam-258165-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- App Settings FAB -->
<div id="app-settings">
    <app-settings></app-settings>
</div>

<!-- jQuery -->
<script src="/assets/vendor/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="/assets/vendor/popper.min.js"></script>
<script src="/assets/vendor/bootstrap.min.js"></script>

<!-- Simplebar -->
<script src="/assets/vendor/simplebar.min.js"></script>

<!-- DOM Factory -->
<script src="/assets/vendor/dom-factory.js"></script>

<!-- MDK -->
<script src="/assets/vendor/material-design-kit.js"></script>

<!-- Range Slider -->
<script src="/assets/vendor/ion.rangeSlider.min.js"></script>
<script src="/assets/js/ion-rangeslider.js"></script>

<!-- App -->
<script src="/assets/js/toggle-check-all.js"></script>
<script src="/assets/js/check-selected-row.js"></script>
<script src="/assets/js/dropdown.js"></script>
<script src="/assets/js/sidebar-mini.js"></script>
<script src="/assets/js/app.js"></script>

<!-- App Settings (safe to remove) -->
<script src="/  assets/js/app-settings.js"></script>



<!-- Flatpickr -->
<script src="/assets/vendor/flatpickr/flatpickr.min.js"></script>
<script src="/assets/js/flatpickr.js"></script>

<!-- Global Settings -->
<script src="/assets/js/settings.js"></script>

<!-- Chart.js -->
<script src="/assets/vendor/Chart.min.js"></script>

<!-- App Charts JS -->
<script src="/assets/js/chartjs-rounded-bar.js"></script>
<script src="/assets/js/charts.js"></script>

<!-- Vector Maps -->
<script src="/assets/vendor/jqvmap/jquery.vmap.min.js"></script>
<script src="/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
<script src="/assets/js/vector-maps.js"></script>

<!-- Chart Samples -->
<script src="/assets/js/page.dashboard.js"></script>

</body>

</html>