<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<div layout:fragment="content">

    <div class="card card-form">
        <div class="row no-gutters">

            <div class="col-lg-12 card-body">
                <div class="card-header">
                    <h3>Montir</h3>
                </div>

                <div class="card-block" th:object="${montirObject}">
                    <div class="form-group">
                        <p><strong class="headings-color">ID Montir</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="id_montir" id="id_member" th:field="*{id_montir}" disabled>
                    </div>
                    <div class="form-group">
                        <p><strong class="headings-color">Nama Montir</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="nama_montir" id="nama_montir" th:field="*{nama_montir}" disabled>
                    </div>

                    <div class="form-group">
                        <p><strong class="headings-color">Tempat Lahir</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="tempat_lahir" id="tempat_lahir" th:field="*{tempat_lahir}" disabled>
                    </div>
                    <div class="form-group">
                        <p><strong class="headings-color">Tanggal Lahir</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="tanggal_lahir" id="tanggal_lahir" th:field="*{tanggal_lahir}" disabled>
                    </div>

                    <div class="form-group">
                        <p><strong class="headings-color">Jenis Kelamin</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="jenis_kelamin" id="jenis_kelamin" th:field="*{jenis_kelamin}" disabled>
                    </div>

                    <div class="form-group">
                        <p><strong class="headings-color">Alamat</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="alamat" id="alamat" th:field="*{alamat}" disabled>
                    </div>

                    <div class="form-group">
                        <p><strong class="headings-color">No Telp</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="no_telp" id="no_telp" th:field="*{no_telp}" disabled>
                    </div>

                    <div class="form-group">
                        <p><strong class="headings-color">Email</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="email" id="email" th:field="*{email}" disabled>
                    </div>

                    <div class="form-group">
                        <p><strong class="headings-color">Status</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="status" id="status" th:field="*{status}"disabled>
                    </div>
                    <div class="form-group">
                        <p><strong class="headings-color">Created At</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="creadate" id="creadate" th:field="*{creadate}"disabled>
                    </div>
                    <div class="form-group">
                        <p><strong class="headings-color">Created By</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="creaby" id="creaby" th:field="*{creaby}"disabled>
                    </div>
                    <div class="form-group">
                        <p><strong class="headings-color">Modified At</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="modidate" id="modidate" th:field="*{modidate}"disabled>
                    </div>
                    <div class="form-group">
                        <p><strong class="headings-color">Modified By</strong></p>
                        <input class="form-control form-control-rounded" type="text" name="modiby" id="modiby" th:field="*{modiby}" disabled>
                    </div>
                    <a class="btn btn-primary-dark" href="/listMontir">Kembali</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
